/nbproject/private/
/OnlineShoppingApplication-war/nbproject/private/
/OnlineShoppingApplication-ejb/nbproject/private/
/OnlineShoppingApplication-ejb/build/
/OnlineShoppingApplication-ejb/dist/
/OnlineShoppingApplication-war/build/
/OnlineShoppingApplication-war/dist/
/build/
/dist/